h3{
    color:aqua;
}
body{
    background-color:rgb(148, 138, 138)
}

.my class{
    background-color: black;

}
button{
    background-color: black;
    text-decoration-color: aliceblue;
}
h1{
    color:green;
}
h2{
    color:#dce9de
}
th,td{
    background-color: rgb(53, 51, 51);
 }